@{
    ViewData["Title"] = "Create or Join a Team";
}

<h1>Create or Join a Team</h1>
<div class="btn-div">
    <button type="button" id="btn-Create" class="w-100 btn btn-lg btn-primary">Create Team</button>
</div>
<div class="btn-div">
    <button type="button" id="btn-Join" class="w-100 btn btn-lg btn-primary">Join Team</button>
</div>
